{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>SuperFX</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<section>
    
</section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% block nav %}
                <ul id="nav">
                    <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
                    <li>{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
                    <li>{% block nav-contact %}<a href="{% url 'contact' %}">Contact</a>{% endblock %}</li>
                </ul>
                {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>